.ck.ck.ck-content {
  * {
    color: theme('colors.black');
    font-family: theme('fontFamily.sans');
  }

  p,
  li {
    font-size: theme('fontSize.base');
    line-height: theme('fontSize.base[1]');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin-top: 0;
  }

  h6 {
    text-transform: unset;
  }

  ul {
    padding-left: 0;
  }
}
