/*
 |--------------------------------------------------------------------------
 |  Global Styling
 |--------------------------------------------------------------------------
 */
@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-serif);
    font-weight: 500;
    font-feature-settings: 'kern' 1, 'liga' 1;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;

    @media screen {
      font-feature-settings:
        'dlig' 0,
        'liga' 0,
        'lnum' 1,
        'kern' 1;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote {
    text-wrap: balance;
  }

  h1,
  h2,
  h3,
  h4,
  .break-text {
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphenate-limit-before: 5;
    -webkit-hyphenate-limit-after: 5;
    -ms-hyphenate-limit-chars: 10 5 5;
    hyphenate-limit-chars: 10 5 5;
  }

  ::selection {
    background-color: var(--color-sage-200);
    color: var(--color-ink-900);
  }
}
