{# >>> Comp Settings #}
{% set compDefaults = {
  data: {
    name: 's-link',
    text: '',
  },
  classes: {
    root: 'container m-top-xs',
    custom: '',
  },
} %}

{# >>> Merge data / classes #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data.link %}
  <div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
    {{ include('_components/linkButton/linkButton.twig', {
      data: {
        link: props.data.link,
      },
      classes: {
        custom: 'col-span-full',
      }
    }, with_context = false) }}
  </div>
{% endif %}
