{# >>> Comp Settings #}
{% set props = defineProps(_context,
  section='linkButton',
  data={
    link: null,
  },
  classes={
    root: 'container',
  },
) %}

{% if props.data.link %}
  <div class="{{ props.classes.root }}">
    {{ include('_components/linkButton/linkButton.twig', {
      data: {
        link: props.data.link ??? null,
      },
      variants: {
        style: props.data.link.linkVariant ??? 'primary',
      },
      classes: {
        root: 'col-span-full',
      }
    }, with_context = false) }}
  </div>
{% endif %}
