{% set props = defineProps(_context,
  <% if(typeof pathOptions !== 'undefined') { %><%= pathOptions.key.slice(0,-1) %><% } else { %>component<% } %>='<%= moduleName %>',
  data={
    shouldShow: true,
  },
  variants={
  },
  classes={
    root: '',
  }
) %}

{% if props.data.shouldShow %}
  <div class="{{ props.classes.root }} ">
    {{ props.name }} rendered
  </div>
{% endif %}
