{# >>> Comp Settings #}
{% set props = defineProps(_context,
  component='accordion',
  data={
    headline: '',
    text: '',
  },
  classes={
    root: '',
  }
) %}

{% if props.data.headline and props.data.text %}
  <div class="{{ props.classes.root }}">
    {% set embedData = {
      headline: props.data.headline ??? '',
      text: props.data.text ??? '',
    } %}
    {% embed "_embeds/embedAccordion/embedAccordion.twig" with { data: {'embedData': embedData }} %}
      {% block contentAccordion %}
        {{ include('_components/text/text.twig', {
          data: {
            text: embedData.text ??? '',
          },
        }, with_context = false) }}
      {% endblock %}
    {% endembed %}
  </div>
{% endif %}
