{# >>> Comp Settings #}
{% set compDefaults = {
  data: {
    name: 'contentBuilder',
    contentQuery: null,
  },
  classes: {
    root: '',
    custom: '',
  },
} %}

{# >>> Merge data / classes #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data.contentQuery %}
  <div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
    {% for matrixBlock in props.data.contentQuery.eagerly().all() %}
      {% set data = null %}

      {% switch matrixBlock.type.handle %}
        {% case 'text' %}
          {% set data = {
            text: matrixBlock.searchableRichText ??? '',
            alignment: matrixBlock.alignment.value ??? 'left',
          } %}

        {% case 'image' %}
          {% set data = {
            image: matrixBlock.image.eagerly().one() ??? null,
            showCaption: true,
          } %}

        {% case 'imageAndText' %}
          {% set data = {
            image: matrixBlock.image.eagerly().one() ??? null,
            showCaption: true,
            text: matrixBlock.searchableRichText ??? '',
            switched: matrixBlock.lightSwitch ??? false,
            imageRatio: matrixBlock.imageRatio.value ??? 'landscape',
            link: matrixBlock.linkBase ??? null,
          } %}

        {% case 'link' %}
          {% set data = {
            link: matrixBlock.linkBase ??? null,
            alignment: matrixBlock.alignment.value ??? 'left',
          } %}

        {% case 'iconWithColumns' %}
          {% set data = {
            headline: matrixBlock.headline ??? '',
            text: matrixBlock.text ??? '',
            columns: matrixBlock.columnsWithIcons.eagerly().all()|map(c => {
              image: c.image.eagerly().one() ??? null,
              headline: c.headline ??? '',
              text: c.text ??? '',
            })
          } %}

        {% case 'quote' %}
          {% set data = {
            quote: matrixBlock.quote ??? '',
            author: matrixBlock.quoteAuthor ??? '',
            bgImage: matrixBlock.backgroundImage.eagerly().one() ??? null,
          } %}

        {% case 'calendly' %}
          {% set data = {} %}

        {% case 'anchor' %}
          {% set data = {
            anchor: matrixBlock.anchor ??? '',
          } %}

      {% case 'embed' %}
        {% set data = {
          embedCode: matrixBlock.embedCode ??? '',
        } %}

      {% endswitch %}

      {% if data is not null %}
        {{ include('_sections/' ~ matrixBlock.type.handle ~ '/' ~ matrixBlock.type.handle ~ '.twig', {
          data: data,
        }, with_context = false) }}
      {% endif %}

    {% endfor %}
  </div>
{% endif %}
