@theme {
  --z-index-grid: 400;
  --z-index-grid-1: 401;
  --z-index-grid-2: 402;
  --z-index-grid-3: 403;
  --z-index-grid-4: 404;
  --z-index-grid-5: 405;
  --z-index-grid-6: 406;
  --z-index-grid-7: 407;
  --z-index-grid-8: 408;
  --z-index-grid-9: 409;
  --z-index-modal: 300;
  --z-index-modal-1: 301;
  --z-index-modal-2: 302;
  --z-index-modal-3: 303;
  --z-index-modal-4: 304;
  --z-index-modal-5: 305;
  --z-index-modal-6: 306;
  --z-index-modal-7: 307;
  --z-index-modal-8: 308;
  --z-index-modal-9: 309;
  --z-index-nav: 200;
  --z-index-nav-1: 201;
  --z-index-nav-2: 202;
  --z-index-nav-3: 203;
  --z-index-nav-4: 204;
  --z-index-nav-5: 205;
  --z-index-nav-6: 206;
  --z-index-nav-7: 207;
  --z-index-nav-8: 208;
  --z-index-nav-9: 209;
  --z-index-body: 100;
  --z-index-body-1: 101;
  --z-index-body-2: 102;
  --z-index-body-3: 103;
  --z-index-body-4: 104;
  --z-index-body-5: 105;
  --z-index-body-6: 106;
  --z-index-body-7: 107;
  --z-index-body-8: 108;
  --z-index-body-9: 109;
}
