/*
 |--------------------------------------------------------------------------
 |  The entry point for the css.
 |--------------------------------------------------------------------------
 */

@import 'tailwindcss/base';

/* Base Styling */
@import './base/modern-css-reset.pcss';
@import './base/global.pcss';
@import './base/headings.pcss';

@import 'tailwindcss/components';

/* Components */
@import '@templates/_components/navigation/navigation.pcss';
@import '@templates/_components/text/text.pcss';

/* Sections */

/* Pages */

@import 'tailwindcss/utilities';

/* Vendors */
