{# >>> Comp Settings #}
{% set compDefaults = {
  data: {
    name: 's-image',
    image: null,
    showCaption: false,
  },
  classes: {
    root: 'container m-top-md',
    custom: '',
  },
} %}

{# >>> Merge data / classes #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data.image %}
  <div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
    {{ include('_components/image/image.twig', {
      data: {
        image: props.data.image,
        transform: 'auto',
        showCaption: props.data.showCaption,
      },
      classes: {
        custom: 'col-span-full',
      }
    }, with_context = false) }}
  </div>
{% endif %}
