{# >>> Comp Settings #}
{% set props = defineProps(_context,
  section='form',
  data={
    form: null,
  },
  classes={
    root: 'container',
  },
) %}

{% if props.data.form %}
  <div class="{{ props.classes.root }}">
    {{ include('_components/form/form.twig', {
      data: {
        form: props.data.form ??? null,
      },
      classes: {
        root: 'col-span-full',
      }
    }, with_context = false) }}
  </div>
{% endif %}
